# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Database
*.db
*.sqlite3
*.sqlite

# Assets
# /assets/screenshots/ (Removed from ignore to show in README)

# OS
.DS_Store
Thumbs.db
